* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(122, 24, 24);
    --secondary-color: rgb(255, 248, 232);
    --nav-color: rgb(35, 27, 22);
    --header-text-color: rgb(255, 255, 255);
    --body-text-color: rgb(34, 24, 20); 
    --button-hover:  rgb(68, 68, 68);
    --accent-color: rgb(255, 209, 102);
    --link-color: rgb(0, 92, 83);

}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--secondary-color);
    color: var(--body-text-color);
    line-height: 1.6;
}

header {
    background-color: var(--primary-color);
    color: var(--header-text-color);
    text-align: center;
}

.page h1 {
    font-size: 1.4rem;
    padding: 1rem;
}

nav {
    background-color: var(--nav-color)
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    display: block;
    color: var(--header-text-color);
    text-decoration: none;
    padding: 0.8rem 1rem;
}

nav a:hover {
    background-color: var(--button-hover);
}

main {
    max-width: 950px;
    margin: 0 auto;
    padding: 1.5rem 1rem;
}

main h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0.75rem;
}

.card {
    border: 1px solid rgb(170, 170, 170);
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--secondary-color)
    
}

.card h2 {
    background-color: var(--primary-color);
    color: var(--header-text-color);
    text-align: center;
    font-size: 1rem;
    padding: 0.6rem;
}

.about-me-content {
    display: grid;
    grid-template-columns: 1fr 120px;
    gap: 1rem;
    align-items: start;
    padding: 1rem;
}

.about-me-content img {
    width: 120px;
    height: auto;
}

.card h3 {
    text-align: center;
    margin-top: 1rem;
}


.card h3::after {
    content: "";
    display: block;
    width: 70%;
    height: 1px;
    background-color: var(--nav-color);
    margin: 0.5rem auto 1rem;
}

.country-content {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 1rem;
    align-items: center;
    padding: 0 1rem 1rem;
}

.country-content figure {
    margin: 0;
    text-align: center;
}

.country-content img {
    width: 150px;
    height: auto;
}

.country-content figcaption {
    font-size: 0.85rem;
    font-style: italic;
    margin-top: 0.5rem;
}

.country-content p {
    padding-top: 0.2rem;
}

.web-dev-resources ul {
    margin-left: 2rem;
    margin-top: 6rem;
    list-style: decimal;
}

.web-dev-resources a {
    color: var(--link-color);
}

.web-dev-resources a:hover {
    color: rgb(122, 24, 24);
}

footer {
    background-color: var(--primary-color);
    color: var(--header-text-color);
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
}

footer p {
    margin: 0.2rem;
}

footer .lastModified {
    color: var(--accent-color);
    font-size: 0.85rem;
}